<% include partials/header.ejs %>

<div class="" style="display: table;margin-top: 30px;margin-left:auto;margin-right:auto">
  <div class="" style="width:25%;float: left;background-color:#f7f7f7;box-shadow: 2px 1px 1px 1px #505050;border: 1px solid #808080">
    <div class="list-group-item" style="text-align:center">

    </div>
    <div class="container"  >
      <img style="display:table;margin-left:auto;margin-right:auto; margin-top:10px; width:240px; height:240px;" src="<%= user.image %>" alt="">
    </div>
    <div class="container" style="text-align: center;margin:30px auto;background-color: white" >
      <h4><%= user.firstname %> <%= user.lastname %></h4>
    </div>

    <%if(user.bio.text){%>
    <div class="container" style="text-align: center;margin:10px auto;background-color:white" >
      <p><%= user.bio.text%></p>
    </div>
    <%}%>

    <%if(user.workPosition.text){%>
    <div class="container" style="text-align: center;margin:10px auto;background-color:white" >
      <p><%= user.workPosition.text%></p>
    </div>
    <%}%>
    <%if(user.company.text){%>
    <div class="container" style="text-align: center;margin:10px auto;background-color:white" >
      <p>@ <%= user.company.text%></p>
    </div>
    <%}%>
    <%if(user.education.text){%>
    <div class="container" style="text-align: center;margin:10px auto;background-color:white" >
      <p><%= user.education.text%></p>
    </div>
    <%}%>

    <%if(user.friends.length != 0){%>
    <div class="container" style="text-align: center;margin:10px auto;background-color:white" >
      <p>Connections: <%= user.friends.length%></p>
    </div>
    <%}%>

    <div class="container" style="text-align: center;margin:10px auto" >
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        View All Connections
      </button>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Your Connections</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <%user.friends.forEach(function(friend){%>
              <a href="/profile/<%=friend._id%>">
                <span class="pull-left ">
                     <img src="<%=friend.image%>" width="32" height="32" class=" img-rounded" />
                </span>
                <%= friend.firstname %> <%= friend.lastname %>
              </a>
              <hr>
            <%});%>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>


  </div>


  <div class="" style="width:70%;margin-left: 2%;float:left;background-color:#f7f7f7;box-shadow: 2px 1px 1px 1px #505050;border: 1px solid #808080">
    <div class="list-group-item" style="text-align:center">
      <h5>Welcome Back, <%= user.firstname %> <%= user.lastname %></h5>
    </div>
    <div style="" class="container">
        <form ref="uploadForm2" id="uploadForm2" encType="multipart/form-data" class="form-group" style="margin:20px" action="/home" method="post">
          <textarea class="form-control"id="txtarea" style="resize:none;margin:0 auto" name="postarea"rows="3" cols="100" placeholder="What are you thinking?"></textarea>
          <label for="mediaLabel">Upload an Image or Video</label>
          <input id="mediaLabel" type="file" name="p_media"> <br>
          <input class="btn btn-default btn-outline-primary"type="submit" value="Post">
        </form>
    </div>

    <!--  The posts starts here -->
    <div class="list-group" style="margin:10px">
      <% posts.reverse().forEach(function(post){ %>
        <div class="list-group-item list-group-item">
          <span style="float:right">
            <%=post.date.toLocaleString()%>
          </span>
          <a href="/profile/<%=post.author._id%>">
            <span class="pull-left ">
                 <img src="<%=post.author.image%>" width="48" height="48" class=" img-rounded" />
            </span>
            <%=post.author.firstname%> <%=post.author.lastname%>
          </a>
          <hr>
          <p><%=post.text%></p>

          <!-- post media -->
          <%if(post.media){%>
            <%if(post.media.mediatype == "image/jpeg"){%>
              <img src="<%= post.media.content %>" height="480" width="480" alt="">
            <%}else if(post.media.mediatype == "video/mp4"){%>
              <video controls width="480" height="480">
                <source src="<%= post.media.content %>" type="video/mp4">
              </video>
            <%}%>
          <%}%>
          <hr>

          <p>Likes: <%=post.likes.length%></p>
          <form class="" action="/home/like/<%=post._id%>?_method=PUT" method="post">
            <button class="btn btn-default btn-outline-success"type="submit" name="button">Like</button>
          </form>

          <div class="commentSection">
            <div class="list-group">
              <% post.comments.forEach(function(comment){%>
                <div style="background-color:#f8f8f8"class="list-group-item">
                  <span class="pull-left ">
                       <img src="<%=comment.user.image%>" width="32" height="32" class=" img-rounded" />
                  </span>
                  <span><%=comment.user.firstname%> <%=comment.user.lastname%></span> <span style="float:right"><%=comment.date.toLocaleString()%></span>
                  <br><%=comment.content%>
                </div>
              <%});%>
            </div>
            <form style="margin-top:10px"class="form-inline" action="/home/comment/<%= post._id%>" method="post">
              <input class="form-control" type="text" name="commentInput" value="" placeholder="Make a comment">
              <input style="margin-left:5px" class="btn btn-default btn-outline-primary"type="submit" name="" value="Comment">
            </form>
          </div>


        </div>
        <hr>
      <% });%>


    </div>
  </div>
</div>

  <script type="text/javascript">

  </script>
<% include partials/footer.ejs %>
