<% include partials/header.ejs %>

<div class="" style="display: table;margin-top: 30px;margin-left:auto;margin-right:auto">
  <div class="" style="width:25%;float: left;background-color:#f7f7f7;border-radius: 6px;box-shadow: 2px 1px 1px 1px #505050;border: 1px solid #808080">
    <div class="list-group-item" style="text-align:center">

    </div>
    <div class="container"  >
      <img style="display:table;margin-left:auto;margin-right:auto; margin-top:10px; withdth:240px; height:240px;" src="<%= user.image %>" alt="">
    </div>
    <div class="container" style="text-align: center;margin:20px auto;background-color: white" >
      <p><%= user.firstname %> <%= user.lastname %></p>
    </div>
    <div class="container" style="text-align: center;margin:20px auto;background-color:white" >
      <p><%= user.email%></p>
    </div>
    <div class="container" style="text-align: center;margin:20px auto;background-color:white" >
      <p>Personal Details</p>
    </div>
    <div class="container" style="text-align: center;margin:20px auto;background-color:white" >
      <p>Personal Details</p>
    </div>
    <div class="container" style="text-align: center;margin:20px auto;background-color:white" >
      <p>Personal Details</p>
    </div>
    <div class="container" style="text-align: center;margin:20px auto;background-color:white" >
      <p>Personal Details</p>
    </div>

  </div>


  <div class="" style="width:70%;margin-left: 2%;float:left;background-color:#f7f7f7;box-shadow: 2px 1px 1px 1px #505050;border-radius: 6px;border: 1px solid #808080">
    <div class="list-group-item" style="text-align:center">
      <h5>Welcome Back, <%= user.firstname %> <%= user.lastname %></h5>
    </div>
    <div style="" class="container">
        <form class="form-group" style="margin:20px" action="/home/<%=user._id%>" method="post">
          <textarea id="txtarea" style="resize:none;margin:0 auto" name="postarea"rows="3" cols="100" placeholder="What are you thinking?"></textarea>

          <label for="picLabel">Upload an Image</label>
          <input id="picLabel" type="file" name="pic" accept="image/*"> <br>
          <input type="submit" value="Post">
        </form>
    </div>
    <!--  The posts starts here -->
    <div class="list-group" style="margin:10px">
      <% posts.sort().reverse().forEach(function(post){ %>
        <div class="list-group-item list-group-item">
          <span style="float:right">
            <%=post.date.toLocaleString()%>
          </span>
          <a href="/profile/<%=post.author._id%>">
            <span class="pull-left ">
                 <img src="<%=post.author.image%>" width="48" height="48" class=" img-rounded" />
            </span>
            <%=post.author.firstname%> <%=post.author.lastname%>
          </a>
          <p><%=post.text%></p>
          <img src="<%=post.image%>" alt="">
          <a href="/home/like/<%=post._id%>?_method=PUT">
            <button class="btn btn-default btn-success"type="submit" name="button">Like</button>
          </a>
          Likes: <%=post.likes.length%>
          <p>Comment1</p>
          <p>Comment2</p>

          <form class="" action="#" method="post">
            <input type="text" name="" value="" placeholder="Make a comment">
            <input type="submit" name="" value="Comment">
          </form>
        </div>
      <% });%>

    </div>
  </div>
</div>

  <script type="text/javascript">
    //alert("conn");
  </script>
<% include partials/footer.ejs %>
