<% include partials/header.ejs %>


    <div class="" style="margin-top: 30px;margin-left:auto;margin-right:auto;width:60%;background-color:#f7f7f7;box-shadow: 2px 1px 1px 1px #505050;border: 1px solid #808080">
      <div class="list-group-item" style="text-align:center">
        <h4>Jobs Posted By Connected Users</h4>
      </div>
      <div style="text-align:center;">
        <a href="/jobs/newJob">
          <button style="margin-left: auto;margin-right: auto;text-align:center;margin-top:1.5%"class="btn btn-default btn-outline-primary"type="submit" name="button">Post New Job</button>
        </a>
        <a href="/jobs/jobsPosted">
          <button style="margin-left: auto;margin-right: auto;text-align:center;margin-top:1.5%"class="btn btn-default btn-outline-primary"type="submit" name="button">View Posted Jobs</button>
        </a>
        <p><%=message%></p>
      </div>

      <hr>

        <div class="row" style="margin:15px">
          <% jobs.forEach(function(job){ %>
            <div class="col-sm-4" style="margin-bottom:10px">
                <div class="card" style="text-align: center;width: 18rem;height:23rem">
                  <a href="/jobs/show/<%=job._id%>" style="text-align:center">

                    <div class="card-body">
                      <h5 class="card-title"><%=job.title%></h5>
                  </a>
                  <hr>
                  <p class="card-text">Company:<br><%=job.company%></p>
                  <p class="card-text">Location:<br><%=job.location%></p>
                  <p class="card-text">Date Posted:<br><%=job.postDate.toLocaleString()%></p>
                  </div>
                  <a href="/jobs/show/<%=job._id%>">
                    <button style="margin-bottom:10px"class="btn btn-default btn-outline-primary"type="button" name="button">View More</button>
                  </a>
                </div>
            </div>
          <%});%>

        </div>
      </div>

  <% include partials/footer.ejs %>
