<% include partials/header.ejs %>

<div class="row" style="margin:30px">
  <div class="col-lg-2" style="background-color:#f3f3f3">
    <div class="container" style="margin:20px auto;background-color: white" >
      <p><%= user.firstname %> <%= user.lastname %></p>
    </div>
    <div class="container" style="margin:20px auto;background-color:white" >
      <p><%= user.email%></p>
    </div>
    <div class="container" style="margin:20px auto;background-color:white" >
      <p>Personal Details</p>
    </div>
    <div class="container" style="margin:20px auto;background-color:white" >
      <p>Personal Details</p>
    </div>

  </div>
  <div class="col-lg-1">

  </div>
  <div class="col-lg-6" style="background-color:#f3f3f3">
    <div class="container">
      <div class="row" style="margin:15px">
        <% networkUsers.forEach(function(nuser){ %>
          <div class="col-sm-4">
            <img src="/default_profile.jpg" alt="">
            <p><%=nuser.firstname %> <%=nuser.lastname %></p>
            <button class="btn btn-primary"type="button" name="add">Add Friend</button>
          </div>
        <% }); %>
      </div>
      </div>
    <!-- <div class="container">
      <div class="row" style="margin:15px">
        <div class="col-sm-4" style="border:4px solid #000">
          <img src="/default_profile.jpg" alt="">
          One of three columns
          <button class="btn btn-primary"type="button" name="add">Add Friend</button>
        </div>
        <div class="col-sm-4" style="border:4px solid #000">
          <img src="/default_profile.jpg" alt="">
          One of three columns
          <button class="btn btn-primary"type="button" name="add">Add Friend</button>
        </div>
        <div class="col-sm-4" style="border:4px solid #000">
          <img src="/default_profile.jpg" alt="">
          One of three columns
          <button class="btn btn-primary"type="button" name="add">Add Friend</button>
        </div>
      </div>
      <div class="row" style="margin:15px">
        <div class="col-sm-4" style="border:4px solid #000">
          <img src="/default_profile.jpg" alt="">
          One of three columns
          <button class="btn btn-primary"type="button" name="add">Add Friend</button>
        </div>
        <div class="col-sm-4" style="border:4px solid #000">
          <img src="/default_profile.jpg" alt="">
          One of three columns
          <button class="btn btn-primary"type="button" name="add">Add Friend</button>
        </div>
        <div class="col-sm-4" style="border:4px solid #000">
          <img src="/default_profile.jpg" alt="">
          <p></p>
          <button class="btn btn-primary"type="button" name="add">Add Friend</button>
        </div>
      </div>
      <div class="row" style="margin:15px">
        <div class="col-sm-4" style="border:4px solid #000">
          <img src="/default_profile.jpg" alt="">
          One of three columns
          <button class="btn btn-primary"type="button" name="add">Add Friend</button>
        </div>
        <div class="col-sm-4" style="border:4px solid #000">
          <img src="/default_profile.jpg" alt="">
          One of three columns
          <button class="btn btn-primary"type="button" name="add">Add Friend</button>
        </div>
        <div class="col-sm-4" style="border:4px solid #000">
          <img src="/default_profile.jpg" alt="">
          One of three columns
          <button class="btn btn-primary"type="button" name="add">Add Friend</button>
        </div>
      </div> -->
    </div>
  </div>

</div>

<% include partials/footer.ejs %>
