<% include partials/header.ejs %>

<div class="" style="margin-top: 30px;margin-left:auto;margin-right:auto;width:60%;background-color:#f7f7f7;box-shadow: 2px 1px 1px 1px #505050;border-radius: 6px;border: 1px solid #808080">
  <div class="list-group-item" style="text-align:center">
    <h4>Personal Information</h4>
  </div>
  <div class="row" style="margin:15px">
    <img src="<%=showUser.image%>" width="240" height="240"alt="">
    <div class="" style="width:70%;margin:20px">
      <h5><%= showUser.firstname %> <%= showUser.lastname %>  <span style="float:right">Connections: <%=showUser.friends.length%> </span> </h5>
      <p>Email: <%= showUser.email %></p>
      <p>Birth Date: <%= showUser.birthdate %></p>
      <p>Telephone Number: <%= showUser.telephone %></p>

      <% if(showUser._id.toString() != user._id.toString()) { %>
        <a href="/discussions/<%= user._id %>/chat/<%= showUser._id %>">
          <button class="btn btn-default btn-outline-primary" >Chat with <%= showUser.firstname %></button>
        </a>
      <% } %>

    </div>
  </div>
</div>

<div class="" style="margin-top: 10px;margin-left:auto;margin-right:auto;width:60%;background-color:#f7f7f7;box-shadow: 2px 1px 1px 1px #505050;border-radius: 6px;border: 1px solid #808080">
  <div class="list-group-item" style="text-align:center">
    <h4>Professional Information</h4>
  </div>
  <div style="margin:20px">

    <% if((showUser.bio.text && !showUser.bio.isPrivate) || showPrivate) { %>
      <div class="list-group-item">
          <p>Bio: <%=showUser.bio.text%></p>
      </div>
    <% } %>

    <% if((showUser.workPosition.text && !showUser.workPosition.isPrivate) || showPrivate) { %>
      <div class="list-group-item">
          <p>Work Position: <%=showUser.workPosition.text%></p>
      </div>
    <% } %>

    <% if((showUser.company.text && !showUser.company.isPrivate) || showPrivate) { %>
      <div class="list-group-item">
          <p>Company: <%=showUser.company.text%></p>
      </div>
    <% } %>

    <% if((showUser.education.text && !showUser.education.isPrivate) || showPrivate) { %>
      <div class="list-group-item">
          <p>Education: <%=showUser.education.text%></p>
      </div>
    <% } %>

    <% if(showUser.skills.skillsArray.length != 0) { %>
      <div class="list-group-item">

        <p><%=showUser.skills%></p>
      </div>
    <% } %>

  </div>


</div>

<% include partials/footer.ejs %>
